.container {
  margin-bottom: 100px;
}
.pink-bg {
  background-color: #feeae9;
  border-radius: 12px;
}
.carousel-item {
  padding: 20px 40px;
}
.price {
  color: #ff136f;
}
.buy-button {
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
  cursor: pointer;
}
.cat1,
.cat2,
.cat3 {
  padding: 10px 30px;
  border-radius: 12px;
}
.cat1 {
  background-image: linear-gradient(-45deg, orange, darkorange);
}
.cat2 {
  background-image: linear-gradient(-45deg, orchid, purple);
}
.cat3 {
  background-image: linear-gradient(45deg, blue, rgb(40, 40, 173));
}
.categories h1 {
  color: white;
}
.categories img {
  width: 110px;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px lightgrey;
}
#contact {
  background-color: #feeae9;
  height: 300px;
  border-radius: 12px;
}
#contact h5 {
  color: rgb(90, 89, 89);
}
footer {
  color: grey;
}
